<div class="row">
  <div class="col-1 h-auto min-vh-100" style="background: darkslategrey;"></div>
  <div class="container px-4 pt-3 col-10">
    <h2 class="pb-3">Zahtev za patent</h2>
    <div>
      <div class="row pb-3">
        <h4 class="py-3">Naziv pronalaska</h4>
        <div class="form-group col-4">
          <label for="naziv_pronalaska_srb">Na srpskom</label>
          <input type="text" class="form-control" id="naziv_pronalaska_srb" name="eng" [(ngModel)]="zatevZaPatent.pronalazak.srpskiNaziv">
        </div>
        <div class="form-group col-4">
          <label for="naziv_pronalaska_eng">Na engleskom</label>
          <input type="text" class="form-control" id="naziv_pronalaska_eng" name="srb" [(ngModel)]="zatevZaPatent.pronalazak.engeskiNaziv">
        </div>
      </div>

      <hr>

      <div class="row pt-3">
        <h4>Podnosilac prijave</h4>
      </div>
      <div class="form-check my-2">
        <input class="form-check-input" type="checkbox" value="" id="podnosilac_je_pronalazac" (change)="changePodnosilacPronalazac()" [checked]="podnosilacJePronalazac">
        <label class="form-check-label" for="podnosilac_je_pronalazac">
          Podnosilac prijave je i pronalazac
        </label>
      </div>

        <select class="form-select my-3 " style="width: 15%" aria-label="Vrsta podnosioca" #lice (change)="changePodnosilacLice($event,lice.value)">
          <option value="Fizicko lice" selected>Fizicko lice</option>
          <option value="Pravno lice">Pravno lice</option>
        </select>

      <div id="editor"></div>

      <hr>

      <div class="row pt-4">
        <h4>Pronalazac</h4>
      </div>

      <div class="form-check my-2">
        <input class="form-check-input" type="checkbox" value="" id="pronalazac_anoniman" [checked]="anonimanPronalazac" (change)="changeAnoniman()">
        <label class="form-check-label" for="pronalazac_anoniman">
          Pronalazac ne zeli da bude naveden u prijavi
        </label>
      </div>

      <div *ngIf="!anonimanPronalazac">
        <div class="row pb-2">
          <div class="form-group col-3">
            <label for="ime_pronalazaca">Ime:</label>
            <input type="text" class="form-control" id="ime_pronalazaca" [(ngModel)]="zatevZaPatent.pronalazac.ime">
          </div>
          <div class="form-group col-3">
            <label for="prezime_pronalazaca">Prezime:</label>
            <input type="text" class="form-control" id="prezime_pronalazaca" [(ngModel)]="zatevZaPatent.pronalazac.prezime">
          </div>
          <div class="form-group col-3">
            <label for="drzavljanstvo_pronalazaca">Drzavljanstvo:</label>
            <input type="text" class="form-control" id="drzavljanstvo_pronalazaca" [(ngModel)]="zatevZaPatent.pronalazac.drzavljanstvo">
          </div>
        </div>

        <h5 class="my-3">Adresa</h5>
        <div class="row">
          <div class="form-group col-3">
            <label for="ulica_pronalazaca">Ulica:</label>
            <input type="text" class="form-control" id="ulica_pronalazaca" [(ngModel)]="zatevZaPatent.pronalazac.adresa.ulica">
          </div>
          <div class="form-group col-1">
            <label for="broj_pronalazaca">Broj:</label>
            <input type="number" class="form-control" id="broj_pronalazaca" [(ngModel)]="zatevZaPatent.pronalazac.adresa.broj">
          </div>
        </div>
        <div class="row py-3">
          <div class="form-group col-2">
            <label for="grad_pronalazaca">Grad:</label>
            <input type="text" class="form-control" id="grad_pronalazaca" [(ngModel)]="zatevZaPatent.pronalazac.adresa.grad">
          </div>
          <div class="form-group col-2">
            <label for="pos_br_pronalazaca">Postanski broj:</label>
            <input type="number" class="form-control" id="pos_br_pronalazaca" [(ngModel)]="zatevZaPatent.pronalazac.adresa.postanskiBroj">
          </div>
          <div class="form-group col-2">
            <label for="drzava_pronalazaca">Drzava:</label>
            <input type="text" class="form-control" id="drzava_pronalazaca" [(ngModel)]="zatevZaPatent.pronalazac.adresa.drzava">
          </div>
        </div>
        <h5 class="my-3">Kontakt</h5>
        <div class="row pb-3">
          <div class="form-group col-2">
            <label for="telefon_pronalazaca">Telefon:</label>
            <input type="text" class="form-control" id="telefon_pronalazaca" [(ngModel)]="zatevZaPatent.pronalazac.kontakt.telefon">
          </div>
          <div class="form-group col-2">
            <label for="faks_pronalazaca">Faks:</label>
            <input type="text" class="form-control" id="faks_pronalazaca" [(ngModel)]="zatevZaPatent.pronalazac.kontakt.faks">
          </div>
          <div class="form-group col-3">
            <label for="eposta_pronalazaca">E-posta:</label>
            <input type="email" class="form-control" id="eposta_pronalazaca" placeholder="example@gmail.com" [(ngModel)]="zatevZaPatent.pronalazac.kontakt.eposta">
          </div>
        </div>
      </div>

      <hr>

      <div class="row pt-3 px-3">
        <div class="form-check col-3">
          <input class="form-check-input" type="radio" name="flexRadioDefault" (change)="changePunomocnik()" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Punomocnik za zastupanje
          </label>
        </div>
        <div class="form-check col-3">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (change)="changePunomocnik()" [checked]= "punomocnikZaPrijemPismena">
          <label class="form-check-label" for="flexRadioDefault2">
            Punomocnik za prijem pismena
          </label>
        </div>
        <div class="form-check col-3">
          <input class="form-check-input" type="checkbox" value="" id="zajednicki_predstavnik" (change)="changeZajednicki()" [checked]="zajednickiPredstavnik">
          <label class="form-check-label" for="zajednicki_predstavnik">
            Zajednicki predstavnik
          </label>
        </div>
      </div>

      <select class="form-select my-3 " style="width: 15%" aria-label="Vrsta podnosioca" #lice2 (change)="changePunomocnikLice($event,lice2.value)">
        <option value="Fizicko lice" selected>Fizicko lice</option>
        <option value="Pravno lice">Pravno lice</option>
      </select>

      <div class="row pb-2" *ngIf="punomocnikLice === 'Fizicko lice'">
        <div class="form-group col-3">
          <label for="ime_punomocnika">Ime:</label>
          <input type="text" class="form-control" id="ime_punomocnika" [(ngModel)]="zatevZaPatent.punomocnik.ime">
        </div>
        <div class="form-group col-3">
          <label for="prezime_punomocnika">Prezime:</label>
          <input type="text" class="form-control" id="prezime_punomocnika" [(ngModel)]="zatevZaPatent.punomocnik.prezime">
        </div>
        <div class="form-group col-3">
          <label for="drzavljanstvo_punomocnika">Drzavljanstvo:</label>
          <input type="text" class="form-control" id="drzavljanstvo_punomocnika" [(ngModel)]="zatevZaPatent.punomocnik.drzavljanstvo">
        </div>
      </div>

      <div class="row pb-2" *ngIf="punomocnikLice === 'Pravno lice'">
        <div class="form-group col-4">
          <label for="poslovno_ime_punomocnika">Poslovno ime:</label>
          <input type="text" class="form-control" id="poslovno_ime_punomocnika" [(ngModel)]="zatevZaPatent.punomocnik.poslovnoIme">
        </div>
      </div>

      <h5 class="my-3">Adresa</h5>
      <div class="row">
        <div class="form-group col-3">
          <label for="ulica_punomocnika">Ulica:</label>
          <input type="text" class="form-control" id="ulica_punomocnika" [(ngModel)]="zatevZaPatent.punomocnik.adresa.ulica">
        </div>
        <div class="form-group col-1">
          <label for="broj_punomocnika">Broj:</label>
          <input type="number" class="form-control" id="broj_punomocnika" [(ngModel)]="zatevZaPatent.punomocnik.adresa.broj">
        </div>
      </div>
      <div class="row py-3">
        <div class="form-group col-2">
          <label for="grad_punomocnika">Grad:</label>
          <input type="text" class="form-control" id="grad_punomocnika" [(ngModel)]="zatevZaPatent.punomocnik.adresa.grad">
        </div>
        <div class="form-group col-2">
          <label for="pos_br_punomocnika">Postanski broj:</label>
          <input type="number" class="form-control" id="pos_br_punomocnika" [(ngModel)]="zatevZaPatent.punomocnik.adresa.postanskiBroj">
        </div>
        <div class="form-group col-2">
          <label for="drzava_punomocnika">Drzava:</label>
          <input type="text" class="form-control" id="drzava_punomocnika" [(ngModel)]="zatevZaPatent.punomocnik.adresa.drzava">
        </div>
      </div>
      <h5 class="my-3">Kontakt</h5>
      <div class="row pb-3">
        <div class="form-group col-2">
          <label for="telefon_punomocnika">Telefon:</label>
          <input type="text" class="form-control" id="telefon_punomocnika" [(ngModel)]="zatevZaPatent.punomocnik.kontakt.telefon">
        </div>
        <div class="form-group col-3">
          <label for="eposta_punomocnika">E-posta:</label>
          <input type="email" class="form-control" id="eposta_punomocnika" placeholder="example@gmail.com" [(ngModel)]="zatevZaPatent.punomocnik.kontakt.eposta">
        </div>
      </div>

      <hr>

      <h4 class="my-3">Adresa za dostavljanje</h4>
      <div class="row">
        <div class="form-group col-3">
          <label for="ulica_dostavljanja">Ulica:</label>
          <input type="text" class="form-control" id="ulica_dostavljanja" [(ngModel)]="zatevZaPatent.podaciODostavljanju.adresa.ulica">
        </div>
        <div class="form-group col-1">
          <label for="broj_dostavljanja">Broj:</label>
          <input type="number" class="form-control" id="broj_dostavljanja" [(ngModel)]="zatevZaPatent.podaciODostavljanju.adresa.broj">
        </div>
      </div>
      <div class="row py-3">
        <div class="form-group col-2">
          <label for="grad_dostavljanja">Grad:</label>
          <input type="text" class="form-control" id="grad_dostavljanja" [(ngModel)]="zatevZaPatent.podaciODostavljanju.adresa.grad">
        </div>
        <div class="form-group col-2">
          <label for="pos_br_dostavljanja">Postanski broj:</label>
          <input type="number" class="form-control" id="pos_br_dostavljanja" [(ngModel)]="zatevZaPatent.podaciODostavljanju.adresa.postanskiBroj">
        </div>
      </div>

      <h4 class="my-3">Nacin dostavljanja</h4>
      <div class="row m-1">
        <div class="form-check col-3">
          <input class="form-check-input" type="radio" name="nacin_dostavljanja" id="elektro" (change)="changePapirnaForma()">
          <label class="form-check-label" for="elektro">
            Elektronskim putem
          </label>
        </div>
        <div class="form-check col-3">
          <input class="form-check-input" type="radio" name="nacin_dostavljanja" id="papirna" (change)="changePapirnaForma()" [checked]="papirnaForma">
          <label class="form-check-label" for="papirna">
            Papirna forma
          </label>
        </div>
      </div>

      <hr>

      <div class="row m-1">
        <div class="form-check col-3">
          <input class="form-check-input" type="radio" name="prijava" id="dopunska" (change)="changeDopunskaPrijava()" [checked]="dopunskaPrijava" >
          <label class="form-check-label" for="dopunska">
            Dopunska prijava
          </label>
        </div>
        <div class="form-check col-3">
          <input class="form-check-input" type="radio" name="prijava" id="izdvojena" (change)="changeDopunskaPrijava()" [checked]="!dopunskaPrijava">
          <label class="form-check-label" for="izdvojena">
            Izdvojena prijava
          </label>
        </div>
      </div>

      <div class="row py-3" *ngIf="dopunskaPrijava">
        <div class="form-group col-3">
          <label for="broj_prvobitne_prijave">Broj prvobitne prijave:</label>
          <input type="number" class="form-control" id="broj_prvobitne_prijave" [(ngModel)]="zatevZaPatent.osnovnaPrijava.broj">
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="datum_prijave">Datum prvobitne prijave</label>
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              id="datum_prijave"
              [(ngModel)]="datumPrvobitne"
              ngbDatepicker
              #d="ngbDatepicker"
            />
          </div>
        </div>
        <div class="col-1" style="padding-top: 23px;margin-left: -70px">
          <button class="btn btn-dark"  (click)="d.toggle()" type="button">Izaberi</button>
        </div>
      </div>

      <hr>

      <h4 class="my-3">Zahtev za ranije prijave</h4>

      <div class="row">
        <span class="col-1" style="padding-top: 27px;font-size: 19px;font-weight: bold">1.</span>
        <div class="form-group col-3" style="margin-left: -80px">
          <label for="broj_ranije_prijave_1">Broj ranije prijave:</label>
          <input type="number" class="form-control" id="broj_ranije_prijave_1" [(ngModel)]="brojRanije">
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="datum_ranije_prijave_1">Datum ranije prijave</label>
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              id="datum_ranije_prijave_1"
              [(ngModel)]="datumRanije"
              ngbDatepicker
              #ranija1="ngbDatepicker"
            />
          </div>
        </div>
        <div class="col-1" style="padding-top: 23px;margin-left: -70px">
          <button class="btn btn-dark"  (click)="ranija1.toggle()" type="button">Izaberi</button>
        </div>
        <div class="form-group col-3">
          <label for="oznaka">Dvoslovna oznaka drzave:</label>
          <input type="text" class="form-control" id="oznaka" [(ngModel)]="oznakaRanije">
        </div>
        <div class="col-1" style="padding-top: 23px">
          <button class="btn btn-success" (click)="dodajRanijuPrijavu()">Dodaj</button>
        </div>
      </div>


      <button class="btn my-5 mx-3" style="background: darkslategrey;color: white" (click)="posaljiZahtev()">Posalji zahtev</button>
    </div>
  </div>
  <div class="col-1 h-auto min-vh-100" style="background: darkslategrey"></div>
</div>
