<section class="vh-80 min-vh-100 hero-main" >
  <div class="container vh-100" >
    <div class="login-reg-panel">
      <div class="login-info-box" *ngIf="!showLogin">
        <h3 class="pb-4">Have an account?</h3>
        <button type="button" class="btn btn-outline-light" (click)="showLogin = true">Login</button>
      </div>

      <div class="register-info-box" *ngIf="showLogin">
        <h3 class="pb-3">Don't have an account?</h3>
        <button type="button" class="btn btn-outline-light" (click)="registerClick()">Register</button>
      </div>

      <div class="white-panel">
        <div *ngIf="showLogin" class="login-show show-log-panel">
          <h2>LOGIN</h2>
          <input type="text" placeholder="Email" [(ngModel)]="loginInfo.email" >
          <input type="password" placeholder="Password" [(ngModel)]="loginInfo.password">
          <button type="button" class="btn btn-secondary" (click)="loginUser()">Login</button>
        </div>
        <div *ngIf="!showLogin" class="register-show show-log-panel">
          <h2>REGISTER</h2>
          <div class="row px-2">
            <input class="col-6" type="text" placeholder="Fist name" [(ngModel)]="korisnik.ime">
            <input class="col-6" type="text" placeholder="Last name" [(ngModel)]="korisnik.prezime">
          </div>
          <div class="row px-2">
            <input class="col-6" type="text" placeholder="Email" [(ngModel)]="korisnik.email">
            <select class="col-6" [(ngModel)]="korisnik.uloga">
              <option value="Gradjanin" selected>Gradjanin</option>
              <option value="Sluzbenik">Sluzbenik</option>
            </select>
          </div>
          <div class="row px-2">
            <input type="password" placeholder="Password" [(ngModel)]="korisnik.lozinka">
          </div>

          <button type="button" class="btn btn-secondary" (click)="registerUser()">Register</button>
        </div>
      </div>
    </div>
  </div>
</section>
