<app-navbar></app-navbar>
<section class="vh-100" style="background: whitesmoke">
  <div class="pt-3 px-3">
    <div class="row">
      <div class="col-3" style="margin-right: -80px">
        <div class="input-group">
          <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Pretraga"/>
          </div>
          <button type="button" class="btn btn-dark">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>

      <div class="col-4">
        <button class="btn btn-dark" (click)="naprednaPretraga()">Napredna pretraga</button>
      </div>
    </div>

    <div class="row pt-3 px-3">
      <div class="form-check col-1">
        <input class="form-check-input" type="radio" name="zahtev" id="obradjeni" (change)="changeObradjeni()" >
        <label class="form-check-label" for="obradjeni">
          Obradjeni
        </label>
      </div>
      <div class="form-check col-1">
        <input class="form-check-input" type="radio" name="zahtev" id="neobradjeni" (change)="changeObradjeni()" checked>
        <label class="form-check-label" for="neobradjeni">
          Neobradjeni
        </label>
      </div>
    </div>




    <div class="row pt-4" *ngIf="!obradjeni">
      <div *ngFor="let zahtev of neobradjeniZahtavi" class="card rounded-2 col-4 zoom mx-3 my-2 zoom" style="width: 300px;height: 175px;background: white;">
        <div class="row pt-3">
          <i class="fa-solid fa-pen-to-square pt-2 col-1 "></i>
          <strong class="col-8" style="font-size: 20px">{{zahtev.id}}</strong>
        </div>

        <p *ngIf="zahtev.podnosilacPrijave.poslovnoIme === ''" class="pt-1" style="font-size: 19px">Podnosilac: {{zahtev.podnosilacPrijave.ime}} {{zahtev.podnosilacPrijave.prezime}}</p>
        <p *ngIf="zahtev.podnosilacPrijave.poslovnoIme !== ''" class="pt-1" style="font-size: 19px">Podnosilac: {{zahtev.podnosilacPrijave.poslovnoIme}}</p>

        <a  style="text-align: right;margin-top: 20px" (click)="viewReferences(zahtev)">Detalji</a>

        <div class="row pt-2 btn-group">
          <button class="btn btn-success col-5 btn-sm" (click)="prihvatiZahtev(zahtev)">Prihvati</button>
          <button class="btn btn-danger col-5 btn-sm" (click)="clickOdbij(zahtev)">Odbij</button>
          <button class="btn btn-dark col-2 btn-sm" (click)="clickShow(zahtev.id.toString())"><i class="fa-solid fa-download"></i></button>

        </div>
        <div class="row justify-content-end">
          <div class="dropdown-menu col-2" [class.show]="showDropDown === zahtev.id.toString()" >
            <a class="dropdown-item" (click)="getPDF(zahtev.id)" href="/view">PDF</a>
            <a class="dropdown-item" (click)="getHTML(zahtev.id)" href="/view">HTML</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="getRDF(zahtev.id)" href="/view">RDF</a>
            <a class="dropdown-item" (click)="getJSON(zahtev.id)" href="/view">JSON</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4" *ngIf="obradjeni">
      <div *ngFor="let zahtev of obradjeniZahtevi" class="card rounded-2 col-4 zoom mx-3 my-2" style="width: 300px;height: 175px;background: white">
        <div class="row pt-3">
          <i class="fa-solid fa-pen-to-square pt-2 col-1 "></i>
          <strong class="col-8" style="font-size: 20px">{{zahtev.id}}</strong>
        </div>

        <p *ngIf="zahtev.podnosilacPrijave.poslovnoIme === ''" class="pt-1" style="font-size: 19px">Podnosilac: {{zahtev.podnosilacPrijave.ime}} {{zahtev.podnosilacPrijave.prezime}}</p>
        <p *ngIf="zahtev.podnosilacPrijave.poslovnoIme !== ''" class="pt-1" style="font-size: 19px">Podnosilac: {{zahtev.podnosilacPrijave.poslovnoIme}}</p>

        <div class="row pt-5">
          <button class="btn btn-success">Prihvacen</button>
        </div>

      </div>
    </div>

    <section *ngIf="showModal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog rounded-2" role="document" style="width: 400px;">
            <div class="modal-content bg-dark text-white rounded-3" style="border: 3px solid whitesmoke">
              <div class="modal-header">
                <h5 class="modal-title text-uppercase">Razlog odbijanja</h5>
                <button aria-label="Close" class="close bg-dark" data-dismiss="modal" type="button">
                  <span (click)="showModal=false" aria-hidden="true" class="text-white">&times;</span>
                </button>
              </div>
              <div class="modal-body px-3 pt-4 pb-3">
                <textarea class="form-control" placeholder="Razlog odijanja" [(ngModel)]="obrazlozenje"></textarea>

              </div>
              <div class="modal-footer p-2">
                <button  class="btn btn-outline-light" type="button" (click)="odbijZahtev()">
                  Posalji
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </section>
    <section *ngIf="showModalReference && !zahevZaReference.id.includes('A')">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog rounded-2" role="document" style="width: 400px;">
            <div class="modal-content bg-dark text-white rounded-3" style="border: 3px solid whitesmoke">
              <div class="modal-header">
                <h5 class="modal-title text-uppercase">Reference</h5>
                <button aria-label="Close" class="close bg-dark" data-dismiss="modal" type="button">
                  <span (click)="showModalReference=false" aria-hidden="true" class="text-white">&times;</span>
                </button>
              </div>
              <div *ngIf="zahevZaReference.id.includes('P')" class="modal-body px-3 pt-4 pb-3">
                <div>
                  {{zahevZaReference.prilozi.opisDela.putanja}}  <a style="margin-left: 10px" (click)="getPrimerFile(zahevZaReference.id,zahevZaReference.prilozi.opisDela.putanja)" > Click to view</a>
                </div>
                <div>
                  {{zahevZaReference.prilozi.primerDela.putanja}}  <a style="margin-left: 10px" (click)="getOpisFile(zahevZaReference.id,zahevZaReference.prilozi.primerDela.putanja)"> Click to view</a>
                </div>

              </div>

              <div *ngIf="zahevZaReference.id.includes('Z')" class="modal-body px-3 pt-4 pb-3">
                <div *ngIf="zahevZaReference.prilozi.primerakZnaka.value === true" class="row" style="display: inline; width: 100%">
                  {{zahevZaReference.prilozi.primerakZnaka.putanja}}
                  <a class="ms-auto" (click)="getPrimerakFajla(zahevZaReference.id,zahevZaReference.prilozi.primerakZnaka.putanja)" > Click to view</a>
                </div>
                <div style="display: inline; width: 100%" *ngIf="zahevZaReference.prilozi.spisakRobe.value === 'true'" class="row">
                  {{zahevZaReference.prilozi.spisakRobe.putanja}}
                  <a class="ms-auto" (click)="getPrimerakFajla(zahevZaReference.id,zahevZaReference.prilozi.spisakRobe.putanja)"> Click to view</a>
                </div>
                <div style="display: inline; width: 100%" *ngIf="zahevZaReference.prilozi.punomoc.value === 'true'" class="row">
                  {{zahevZaReference.prilozi.punomoc.putanja}}
                  <a class="ms-auto" (click)="getPrimerakFajla(zahevZaReference.id,zahevZaReference.prilozi.punomoc.putanja)" )> Click to view</a>
                </div>
                <div style="display: inline; width: 100%" *ngIf="zahevZaReference.prilozi.opstiAkt.value === 'true'" class="row">
                  {{zahevZaReference.prilozi.opstiAkt.putanja}}
                  <a class="ms-auto" (click)="getPrimerakFajla(zahevZaReference.id,zahevZaReference.prilozi.opstiAkt.putanja)"> Click to view</a>
                </div>
                <div style="display: inline; width: 100%" *ngIf="zahevZaReference.prilozi.dokazOPravuPrvenstva.value === 'true'" class="row">
                  {{zahevZaReference.prilozi.dokazOPravuPrvenstva.putanja}}
                  <a class="ms-auto" (click)="getPrimerakFajla(zahevZaReference.id,zahevZaReference.prilozi.dokazOPravuPrvenstva.putanja)"> Click to view</a>
                </div>
                <div style="display: inline; width: 100%" *ngIf="zahevZaReference.prilozi.dokazOUplati.value === 'true'" class="row">
                  {{zahevZaReference.prilozi.dokazOUplati.putanja}}
                  <a class="ms-auto" (click)="getPrimerakFajla(zahevZaReference.id,zahevZaReference.prilozi.dokazOUplati.putanja)"> Click to view</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  </div>
</section>
