<app-navbar></app-navbar>
<section class="vh-100" style="background: whitesmoke">
  <div class="pt-3 px-3">
    <div class="row">
      <div class="col-3" style="margin-right: -80px">
        <div class="input-group">
          <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Pretraga"/>
          </div>
          <button type="button" class="btn btn-dark">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>

      <div class="col-4">
        <button class="btn btn-dark">Napredna pretraga</button>
      </div>
    </div>

    <div class="row pt-3 px-3">
      <div class="form-check col-1">
        <input class="form-check-input" type="radio" name="zahtev" id="obradjeni" (change)="changeObradjeni()" >
        <label class="form-check-label" for="obradjeni">
          Obradjeni
        </label>
      </div>
      <div class="form-check col-1">
        <input class="form-check-input" type="radio" name="zahtev" id="neobradjeni" (change)="changeObradjeni()" checked>
        <label class="form-check-label" for="neobradjeni">
          Neobradjeni
        </label>
      </div>
    </div>




    <div class="row pt-4" *ngIf="!obradjeni">
      <div *ngFor="let zahtev of neobradjeniZahtavi" class="card rounded-2 col-4 zoom mx-3 my-2 zoom" style="width: 300px;height: 175px;background: white;">
        <div class="row pt-3">
          <i class="fa-solid fa-pen-to-square pt-2 col-1 "></i>
          <strong class="col-8" style="font-size: 20px">P{{zahtev.brojPrijave}}-{{zahtev.datumPodnosenja}}</strong>
        </div>

        <p *ngIf="zahtev.podnosilacPrijave.poslovnoIme === ''" class="pt-1" style="font-size: 19px">Podnosilac: {{zahtev.podnosilacPrijave.ime}} {{zahtev.podnosilacPrijave.prezime}}</p>
        <p *ngIf="zahtev.podnosilacPrijave.poslovnoIme !== ''" class="pt-1" style="font-size: 19px">Podnosilac: {{zahtev.podnosilacPrijave.poslovnoIme}}</p>


        <div class="row pt-5 btn-group">
          <button class="btn btn-success col-5 btn-sm">Prihvati</button>
          <button class="btn btn-danger col-5 btn-sm" (click)="showModal=true">Odbij</button>
          <button class="btn btn-dark col-2 btn-sm" (click)="clickShow(zahtev.brojPrijave.toString())"><i class="fa-solid fa-download"></i></button>

        </div>
        <div class="row justify-content-end">
          <div class="dropdown-menu col-2" [class.show]="showDropDown === zahtev.brojPrijave.toString()" >
            <a class="dropdown-item" (click)="getPDF(zahtev.brojPrijave.toString())" href="/view">PDF</a>
            <a class="dropdown-item" (click)="getHTML(zahtev.brojPrijave.toString())" href="/view">HTML</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="getRDF(zahtev.brojPrijave.toString())" href="/view">RDF</a>
            <a class="dropdown-item" (click)="getJSON(zahtev.brojPrijave.toString())" href="/view">JSON</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4" *ngIf="obradjeni">
      <div *ngFor="let zahtev of obradjeniZahtevi" class="card rounded-2 col-4 zoom mx-3 my-2" style="width: 300px;height: 175px;background: white">
        <div class="row pt-3">
          <i class="fa-solid fa-book pt-2 col-1 "></i>
          <strong class="col-8" style="font-size: 20px">A1-20.01.2022</strong>
        </div>

        <p class="pt-1" style="font-size: 19px">Podnosilac: Pera Peric</p>

        <div class="row pt-5">
          <button class="btn btn-success">Prihvacen</button>
        </div>

      </div>
    </div>

    <section *ngIf="showModal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog rounded-2" role="document" style="width: 400px;">
            <div class="modal-content bg-dark text-white rounded-3" style="border: 3px solid whitesmoke">
              <div class="modal-header">
                <h5 class="modal-title text-uppercase">Razlog odbijanja</h5>
                <button aria-label="Close" class="close bg-dark" data-dismiss="modal" type="button">
                  <span (click)="showModal=false" aria-hidden="true" class="text-white">&times;</span>
                </button>
              </div>
              <div class="modal-body px-3 pt-4 pb-3">
                <textarea class="form-control" placeholder="Razlog odijanja"></textarea>

              </div>
              <div class="modal-footer p-2">
                <button  class="btn btn-outline-light" type="button">
                  Posalji
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  </div>
</section>
