<app-navbar></app-navbar>
<section class="vh-100 pt-3">
  <div class="row vh-100">
    <div class="col-6">
      <p class="px-5 pb-3" style="font-size: 33px">Napredna pretraga po metapodacima</p>
      <div class="row px-5" *ngFor="let m of metapodaci;let index = index;">
        <div class="col-2" *ngIf="index!==0">
          <select class=" form-control" [(ngModel)]="operatori[index]">
            <option value="&&">I</option>
            <option value="||" selected>ILI</option>
            <option value="&&!" >I NE</option>
            <option value="||!" >ILI NE</option>
          </select>
        </div>
        <div class="col-2" *ngIf="index===0">
          <select class=" form-control" [(ngModel)]="operatori[index]">
            <option value=" " selected></option>
            <option value="!">NE</option>
          </select>
        </div>

        <div class="col-4">
          <select class=" form-control" [(ngModel)]="metapodaci[index]" >
            <option value="" disabled selected>Izaberi metapodatak</option>
            <option>Id</option>
            <option>Broj</option>
            <option>Datum_podnosenja</option>
            <option>Podnosilac_ime</option>
            <option>Podnosilac_prezime</option>
            <option>Podnosilac_poslovno_ime</option>
            <option>Punomocnik_ime</option>
            <option>Punomocnik_prezime</option>
            <option>Punomocnik_poslovno_ime</option>
            <option>Tip_ziga</option>
            <option>Vrsta_znaka</option>
            <option>Naslov_autorskog_dela</option>
            <option>Vrsta_autorskog_dela</option>
            <option>Autor_ime</option>
            <option>Autor_prezime</option>
            <option>Pronalazac_ime</option>
            <option>Pronalazac_prezime</option>
            <option>Pronalazak_naziv_na_srpskom</option>
            <option>Pronalazak_naziv_na_engleskom</option>
            <option>Broj_ranije_prijave</option>
          </select>
        </div>

        <div class="col-4">
          <input type="text" class="form-control" placeholder="Vrednost" [(ngModel)]="vredosti[index]" required>
          <br>
        </div>
        <br>

      </div>
      <div style="margin-top: -62px;padding-left: 620px">
        <button class="btn btn-success" (click)="dodajMetapodatak()">Dodaj</button>
      </div>

      <div class="row pt-5 px-5">
        <div class="">
          <button class="btn btn-dark" style="width: 100%" (click)="pretrazi()">Pretrazi</button>
        </div>
      </div>
    </div>
    <div class="col-6 text-center">
      <div *ngFor="let zahtev of zahtevi" class="card rounded-2 col-4 zoom mx-3 my-2 p-3" style="width: 300px;height: 175px;background: white">
        <div class="row pt-3">
          <i class="fa-solid fa-pen-to-square pt-2 col-1 "></i>
          <strong class="col-8" style="font-size: 20px">{{zahtev.id}}</strong>
        </div>

        <p *ngIf="zahtev.podnosilacPrijave.poslovnoIme === ''" class="pt-1" style="font-size: 19px">Podnosilac: {{zahtev.podnosilacPrijave.ime}} {{zahtev.podnosilacPrijave.prezime}}</p>
        <p *ngIf="zahtev.podnosilacPrijave.poslovnoIme !== ''" class="pt-1" style="font-size: 19px">Podnosilac: {{zahtev.podnosilacPrijave.poslovnoIme}}</p>

        <div class="row pt-5">
          <button class="btn btn-dark btn-sm" (click)="clickShow(zahtev.id.toString())">Preuzmi<i class="fa-solid fa-download ms-4"></i></button>
        </div>

        <div class="row justify-content-end">
          <div class="dropdown-menu col-2" [class.show]="showDropDown === zahtev.id.toString()" >
            <a class="dropdown-item" (click)="getPDF(zahtev.id)" href="/view">PDF</a>
            <a class="dropdown-item" (click)="getHTML(zahtev.id)" href="/view">HTML</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="getRDF(zahtev.id)" href="/view">RDF</a>
            <a class="dropdown-item" (click)="getJSON(zahtev.id)" href="/view">JSON</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
